![imagen](./img/ejercicios.png)

# INFORMACIÓN DEL PROYECTO

### TÍTULO

In [1]:
#Escribe el título del proyecto en Markdown
titulo = "FUMADORES UK"

### TEMA

In [3]:
# Describe brevemente el tema del proyecto en Markdown
tema = "FUMADORES UK"

Este proyecto se centra en realizar un análisis exploratorio de datos (EDA) sobre fumadores en UK, específicamente tenemos datos sobre caracteristicas de la poblacion, El objetivo principal es comprender y extraer información valiosa de los datos relacionados con las personas fumadoras y ver si existen relaciones entre su nivel de vida, habitos y diferentes variables para ser fumador o no. lo que permitirá identificar patrones, tendencias y oportunidades de mejora social,para prevenir la adiccion al tabaco.

### HIPÓTESIS

Define aquí lo que será la hipótesis de tu proyecto.
Deberás tener más de una, pero tu proyecto lo harás teniendo una principal hipótesis.

In [4]:
# Escribe tu hipótesis principal en Markdown

## Hipótesis Principal
Mi hipótesis principal es llegar a categorizar la figura del fumador y buscar las variables mas determinantes.

## Hipótesis Secundarias
- Impacto del estado civil en los ingresos de los fumadores
- Variaciones geográficas y hábitos de fumar
- Diferencias de género en los ingresos de los fumadores
- Relación entre el nivel educativo y el hábito de fumar

In [ ]:
# Escribe más hipótesis si las hubiera en Markdown
# hipotesis_2 = ""
# hipotesis_3 = ""
# hipotesis_4 = ""
# hipotesis_5 = ""
# ...

## OBTENCIÓN DE LOS DATOS

### DATASETS Y FUENTES ALTERNATIVAS DE DATOS

Incluye aquí una vista del dataset o datasets de los que partirás para poder evaluar tu hipótesis. <br>
También incluye el origen de estos datos y su fuente.

In [3]:
import pandas as pd
# guarda en variables los datasets y su fuente
df = pd.read_csv("C:/Users/LENOVO/OneDrive/Escritorio/EDA/Data/smoking.csv")
fuente_1 = "Kaggle"
# df_2 = pd.DataFrame()
# fuente_2 = ""
# df_3 = pd.DataFrame()
# fuente_3 = ""
# df_4 = pd.DataFrame()
# fuente_4 = ""
# df_5 = pd.DataFrame()
# fuente_5 = ""
# ...

Muestra mediante un head() los principales datasets con los que vas a trabajar

In [4]:
# Primer dataset
df.head()

,gender,age,marital_status,highest_qualification,nationality,ethnicity,gross_income,region,smoke,amt_weekends,amt_weekdays,type
0,Male,38,Divorced,No Qualification,British,White,"2,600 to 5,200",The North,No,NaN,NaN,NaN
1,Female,42,Single,No Qualification,British,White,"Under 2,600",The North,Yes,12.0,12.0,Packets
2,Male,40,Married,Degree,English,White,"28,600 to 36,400",The North,No,NaN,NaN,NaN
3,Female,40,Married,Degree,English,White,"10,400 to 15,600",The North,No,NaN,NaN,NaN
4,Female,39,Married,GCSE/O Level,British,White,"2,600 to 5,200",The North,No,NaN,NaN,NaN